# Ignore Virtual Environment (Huge folder, never upload this)
.venv/
venv/

# Ignore IDE settings
.idea/
.vscode/
__pycache__/

# Ignore Local Data & Logs (Users should use their own data)
domain_knowledge_index.json
exported_log.txt
*.log

# Ignore sensitive Real Data (Upload sample dummy data instead)
Invoices/
All_Documents/

# Ignore Environment variables file (if you use one)
.env
